---
import Container from "./Container.astro";

---

<div id="solution">
  <Container>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
      <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd" />
      <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd" />
    </svg>
    
    <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
      <div class="md:5/12 lg:w-1/2">
        <img
          src="./images/pie.svg"
          alt="image"
          loading="lazy"
          width=""
          height=""
          class="w-full"
        />
      </div>
      <div class="md:7/12 lg:w-1/2">
        <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
          Soluciones Digitales Integrales
        </h2>
        <p class="my-8 text-gray-600 dark:text-gray-300">
          No solo diseñamos páginas web. Construimos ecosistemas digitales completos para que tu negocio compita en el mercado.
        </p>
        <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
          <div class="mt-8 flex gap-4 md:items-center">
            <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6 m-auto text-indigo-500 dark:text-indigo-400">
                <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="w-5/6">
              <h3 class="font-semibold text-lg text-gray-700 dark:text-indigo-300"> E-commerce & WooCommerce</h3>
              <p class="text-gray-500 dark:text-gray-400">Tiendas en línea robustas. Sitios web autogestionados. Integración Google Merchant Center y pasarelas de pago (Mercado Pago).</p>
            </div> 
          </div> 
          <div class="pt-4 flex gap-4 md:items-center">
            <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6 m-auto text-teal-600 dark:text-teal-400">
                <path fill-rule="evenodd" d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4q0 1 .25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75Q6 13 6 12H2s-2 0-2-2zm1.398-.855a.76.76 0 0 0-.254.302A1.5 1.5 0 0 0 1 4.01V10c0 .325.078.502.145.602q.105.156.302.254a1.5 1.5 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.76.76 0 0 0 .254-.302 1.5 1.5 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.76.76 0 0 0-.302-.254A1.5 1.5 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145" clip-rule="evenodd" />
              </svg>   
            </div>
            <div class="w-5/6">
              <h3 class="font-semibold text-lg text-gray-700 dark:text-teal-300">Presencia Corporativa</h3>
              <p class="text-gray-500 dark:text-gray-400">Sitios web corporativos. Páginas de destino (Landing Pages) de alta conversión. Diseño web profesional y adaptable a móviles.</p>
            </div>               
          </div>
          <div class="pt-4 flex gap-4 md:items-center">
            <div class="w-12 h-12 flex gap-4 rounded-full bg-white/100 dark:bg-white/5">  
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-teal-600 dark:text-white">
                <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
              </svg>                                      
            </div>
            <div class="w-5/6">
              <h3 class="font-semibold text-lg text-gray-700 dark:text-white/90">SEO & Analítica</h3>
              <p class="text-gray-500 dark:text-gray-400">Servicios de SEO inicial y técnico. Configuración de Google Business Profile (Búsquedas Locales). Integración Analytics y Search Console.</p>
            </div>             
          </div>   
        </div>     
      </div>   
    </div>  
  </Container>
</div>
